:root{
    --head: #555b6e;
    --contbg: rgb(242, 242, 245);
    --main: #fff;
    --radius: 10px;
    --contmargin : 20px 10px 20px 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Montserrat'; */
}

body {
    background-color: var(--head);
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.startQuizHeader {
    color: var(--head);
    display: flex;
    
}

.startQuizBox {
    background-color: var(--main);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    border-radius: var(--radius);
}


.startQuizBtn {
    background-color: #555b6e;
    color: #fff;
    border-radius: var(--radius);
    height: 20vh;
    width: 20vw;
    font-size: 3rem;
    
}

.questionContainer {
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    position:absolute;
}